<!doctype html>
<html lang="en">
<head>
  <title>AngularJS 1.6</title>
  <meta charset="utf-8">
  <meta name="description" content="AngularJS 1.6">
  <meta name="author" content="taoteg">

  <!-- Dependencies -->
  <link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">
  <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css?v=1.0">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body ng-app="firstNgApp">
  <div ng-controller="mainCtrl as vm">

    <!-- OLD CONTENT -->
    <!-- -->
    <h1>AngularJS 1.6 Refresher</h1>

    <div class="lesson">
      <button class="btn btn-block btn-info" type="button" data-toggle="collapse" data-target="#collapsePart01" aria-expanded="false" aria-controls="collapsePart01">
        Part 1: Getting Started
      </button>
      <div class="collapse" id="collapsePart01">
        <p class="heading">Getting Started</p>
        <p>The Sky is {{2>1}} blue</p>
      </div>
    </div>

    <div class="lesson">
      <button class="btn btn-block btn-info" type="button" data-toggle="collapse" data-target="#collapsePart02" aria-expanded="false" aria-controls="collapsePart02">
        Part 2: Two-way Data Binding & Controllers
      </button>
      <div class="collapse" id="collapsePart02">
        <p class="heading">Two-way Data Binding & Controllers</p>
        <p>{{ vm.world }}</p>
        <p>{{ vm.inputtext }}</p>
        <input type="text" ng-model="vm.inputtext" />
      </div>
    </div>

    <div class="lesson">
      <button class="btn btn-block btn-info" type="button" data-toggle="collapse" data-target="#collapsePart03" aria-expanded="false" aria-controls="collapsePart03">
        Part 3: Common Directives
      </button>
      <div class="collapse" id="collapsePart03">
        <p class="heading">Common Directives</p>
        <p>
          <i>List of Fruits</i>
          <ul ng-repeat="fruit in vm.fruits">
            <li>{{ fruit }}</li>
          </ul>
          <button class="btn btn-danger" ng-click="vm.alertMe()">Alert</button>
        </p>
      </div>
    </div>

    <div class="lesson">
      <button class="btn btn-block btn-info" type="button" data-toggle="collapse" data-target="#collapsePart04" aria-expanded="false" aria-controls="collapsePart04">
        Part 4: Filters
      </button>
      <div class="collapse" id="collapsePart04">
        <p class="heading">Filters</p>
        <p>
          <i>List of Cars</i>
          <p>Search by value:</p>
          <input type="text" ng-model="vm.searchCar" />
          <ul ng-repeat="car in vm.cars | filter: vm.searchCar">
            <li>{{ car | makePlural }}</li>
          </ul>
        </p>
      </div>
    </div>

    <div class="lesson">
      <button class="btn btn-block btn-info" type="button" data-toggle="collapse" data-target="#collapsePart05" aria-expanded="false" aria-controls="collapsePart05">
        Part 5: $http Service
      </button>
      <div class="collapse" id="collapsePart05">
        <p class="heading">$http Service</p>
        <p>
          <i>List of Posts</i>
          <p>Search by value:</p>
          <input type="text" ng-model="vm.searchPosts" />
          <ul ng-repeat="post in vm.posts | filter: vm.searchPosts">
            <li>title: {{ post.title }}</li>
          </ul>
        </p>
      </div>
    </div>

    <div class="lesson">
      <button class="btn btn-block btn-info" type="button" data-toggle="collapse" data-target="#collapsePart06A" aria-expanded="false" aria-controls="collapsePart06A">
        Part 6A: Services
      </button>
      <div class="collapse" id="collapsePart06A">
        <albums-list></albums-list>
      </div>
    </div>

    <div class="lesson">
      <button class="btn btn-block btn-info" type="button" data-toggle="collapse" data-target="#collapsePart06B" aria-expanded="false" aria-controls="collapsePart06B">
        Part 6B: Factories
      </button>
      <div class="collapse" id="collapsePart06B">
        <comments-list></comments-list>
      </div>
    </div>

    <div class="lesson">
      <button class="btn btn-block btn-info" type="button" data-toggle="collapse" data-target="#collapsePart07" aria-expanded="false" aria-controls="collapsePart07">
        Part 7: Simple Components
      </button>
      <div class="collapse" id="collapsePart07">
        <p class="heading">Simple Components</p>
        <p>Both the Albums Service and the Comments Factory have both been refactored into simple components under the hood. Dig into teh code to see the changes.</p>
      </div>
    </div>

    <div class="lesson">
      <button class="btn btn-block btn-info" type="button" data-toggle="collapse" data-target="#collapsePart08" aria-expanded="false" aria-controls="collapsePart08">
        Part 8: Ui-Router
      </button>
      <div class="collapse" id="collapsePart08">
        <p class="heading">Using Ui-Router</p>
        <p>Major refactor to site structure in progress...</p>
      </div>
    </div>
    <!-- -->

    <!-- NEW CONTENT -->
    <!--
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarCollapseMain">
            <span class="sr-only"> Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">AngularJS 1.6 Review</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapseMain">
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Posts</a></li>
          </ul>
        </div>
      </div>
    </nav>
    -->

  </div>

  <!-- Dependencies -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.10/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.18/angular-ui-router.min.js"></script>
  <script src="app.js"></script>
  <script src="components/albums-list.component.js"></script>
  <script src="components/comments-list.component.js"></script>
</body>
</html>
